{% extends 'layout.twig' %}

{% block title %} <title> Graphique poids | {{ parent() }} </title> {% endblock %}

{% block icon_img %} <link rel="icon" type="image/png" href="favicon.ico"/> {% endblock %}

{% block css_page %}
    <link rel="stylesheet" href="/assets/css/weight-graph.css{{ _self.cssVersionning() }}">
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}"><i class="fa-solid fa-arrow-left"></i></a>
        </nav>
    </header>

    <section class="container-fluid" id="weight_graph">
        <div class="banner">
            <img src="assets/img/weight-graph/banner.jpg" alt="banner">
        </div>
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="flash-success bg-success text-white p-5 text-center mb-5">
                    {{ message }}
                </div>
            {% endfor %}
            <h1 class="text-center pb-5">Graphique de poids</h1>
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                    <h2 class="text-center">Informations relatives aux données</h2>
                    {% for weight in weights|reverse %}
                        <div class="box-description">
                            <h3>{{ weight.dateFr }}</h3>
                            {% if weight.description is empty %}
                                <p>Aucune description n'est disponible à cette date</p>
                            {% endif %}
                            <p>{{ weight.description }}</p>
                            {% endfor %}
                        </div>
                </div>

        </div>
    </section>
    {% block javascript %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            let weights = []
            let dates = []
            {% for weight in weights %}
            weights.push({{weight.weight}})
            dates.push('{{ weight.dateFr }}')
            {% endfor %}

                    const ctx = document.getElementById('myChart');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: 'weights',
                                data: weights,
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: false
                                }
                            }
                        }
                    });

        </script>
    {% endblock %}
{% endblock %}
